In [ ]:
#Area of rectangle

In [ ]:
height=int(input('enter a number'))
weidth = int(input('enter a number'))
a =height*weidth
print(a)

enter a number6
enter a number7
42

create a program that takes two number from the user and calculates their sum,diffrence,product,quotient

In [ ]:
a=int(input('enter a number'))
b=int(input('enter a number'))
s=a+b
r=a-b
t=a*b
f=a/b
print(s)
print(r)
print(t)
print(f)

enter a number6
enter a number7
13
-1
42
0.8571428571428571

conversion of celsuis to farenheat and vice versa

In [ ]:
fer=float(input("enter a number"))
cel=(fer-32)*5/9
print(cel)

enter a number678
358.8888888888889

In [ ]:
cel=float(input('enter a number'))
fer=(cel*9/5)+32
print(fer)

enter a number678
1252.4

In [ ]:
a =int(input('enter a number'))
if a<0:
  print('a in negative')
elif a>0:
  print('a is postive')
elif a==0:
  print('a in equal to zero')

enter a number778
a is postive

In [ ]:
y=int(input('enter the year'))
if(y%4==0):
  print('it is a leap year')
elif(y%4!=0):
  print('it is not a leap year')
elif(y%400==0):
 print('it is a leap year')
elif(y/400!=0):
 print("it is not a leap year")

enter the year2004
it is a leap year

In [ ]:
a =int(input('enter a number'))
if(a>90):
 print('A')
elif(a>80):
  print('B')
elif(a>70):
  print('C')
elif(a>60):
  print('D')
else:
  print('F')

enter a number78
C

In [ ]:
for num in range(10,0,-1):
  print(num)

10
9
8
7
6
5
4
3
2
1

In [ ]:
for i in range(2,22,2):
  print (i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
i=int(input('enter a number'))
for n in range(1,11):
 print(n,'x',i,'=',n*i)

enter a number5
1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50